---

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---
<span
class={`text-[#6c35de] dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-br dark:from-indigo-600 dark:from-20% dark:via-primary dark:via-30% dark:to-white ${className}`}
>
  <slot />
</span>
