---
import Container from "../shared/Container.astro";
import GlassBackground from "../shared/GlassBackground.astro";
import Spots from "../shared/Spots.astro";
---

<section class="relative mt-5">
  <Container>
    <GlassBackground
      className="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <div class="text-center ">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1 text-white"
        >
          200+
        </h2>
        <p class="mt-2 text-heading-3 text-white">Trusting Clients</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1 text-white"
        >
          300+
        </h2>
        <p class="mt-2 text-heading-3 text-white">Projects</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1 text-white"
        >
          120
        </h2>
        <p class="mt-2 text-heading-3 text-white">Happy Client</p>
      </div>

      <div class="text-center text-white">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1 text-white"
        >
          25+
        </h2>
        <p class="mt-2 text-heading-3 text-white">Years EXPERIENCE</p>
      </div>
    </GlassBackground>
  </Container>
</section>
