---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";
import GlassBackground from "../shared/GlassBackground.astro";

import myHeroImage1 from "../../assets/images/hero1.jpg";
import myHeroImage2 from "../../assets/images/hero2.jpg";
import myHeroImage3 from "../../assets/images/hero3.jpg";
import CtaButton from "../shared/CtaButton.astro";
import ByResult from "./ByResult.astro";
import GradiantText from "../shared/GradiantText.astro";
import bg from "../../assets/videos/background-dark.mp4";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={`relative pt-32 lg:pt-36 ${className} overflow-hidden`}>
  <!-- Background Video -->
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-[-1]"
  >
    <source src={bg} type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <Container className="flex flex-col lg:flex-row gap-10 lg:gap-12 relative z-10">
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2 "
    >
      <GlassBackground>
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
              font-bold text-heading-1 text-white"
        >
        Engineering and
          <GradiantText>System Integration <br /> Company</GradiantText>
          Saudia Arabia
        </h1>
        <Paragraph className="mt-8 text-white">
          Saudi Controls Ltd. is one of the foremost engineering and systems integration companies in Saudi Arabia, a longtime trendsetter in the field with an established reputation for multidisciplinary expertise and competitive prices going back 25 years.
        </Paragraph>
      </GlassBackground>
    
      <GlassBackground className="mt-16 w-full flex flex-col">
        <!-- <div class="lg:mx-auto mb-5">
          <CtaButton />
        </div> -->
        <div class="mx-auto">
          <ByResult />
        </div>
      </GlassBackground>
    </div>

    <div
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl pointer-events-none"
    >
    <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
    <spline-viewer 
      url="https://prod.spline.design/fJ2ptJKzT-sDkpfO/scene.splinecode" 
      background="transparent"
      width="100%"
      height="100%"
      class="grow"
    ></spline-viewer>
      <!-- <Image
        src={myHeroImage3}
        alt="Hero image"
        class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
      /> -->
    </div>
  </Container>

  <ByNumber />
</section>
